body {
  background-image: url("../img/bg-intro-mobile.png");
  background-color: #93b3ce;
}

input {
  display: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#check:checked ~ nav ul {
  margin: 0;
  transition: 0.3s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 111;
}
#check:checked ~ nav ul li a {
  color: black;
  font-size: 20px;
}
#check:checked ~ nav ul li a:hover {
  background-color: #b8d6ec;
  color: White;
  box-shadow: 4px 5px 2px -3px gray;
}

#check:checked ~ nav {
  transition: all 0.5s ease-in-out;
  background-color: #fabdc5;
}
#check:checked ~ nav label i {
  color: #b8d6ec;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 0;
  z-index: 11;
  background-color: #f4f4f4;
  left: 0;
  right: 0;
  top: 0;
}
.menu .logo {
  width: 120px;
  height: 80px;
  margin-left: 1em;
}
.menu label i {
  margin-right: 1em;
  color: #f6bdc5;
  font-size: 30px;
}
.menu .enlace-menu {
  text-decoration: none;
  transition: background-color 0.4s;
  align-items: center;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin-left: -1700px;
  width: 100%;
  background-color: #fabdc5;
}
.menu .enlace-menu li {
  list-style: none;
  padding: 1em;
  margin: 2em;
}
.menu .enlace-menu li a {
  text-decoration: none;
  border-radius: 10px;
  padding: 1em;
  margin: 2em;
  border-radius: 10px;
}

.container {
  position: relative;
  width: 100%;
  top: 100px;
}
.container .inicio {
  margin: 0 auto;
  width: 85%;
  position: relative;
  display: flex;
  justify-content: center;
}
.container .inicio .img-portada {
  border-radius: 15px;
}
.container .inicio .h1-portada {
  width: 90%;
  position: absolute;
  bottom: 30px;
  color: white;
  text-align: center;
  box-shadow: 0.5px 0.5px 4px 1px tomato;
  border-radius: 9px;
  padding: 0.5em 0;
}
.container .hr {
  width: 90%;
  margin: 2em auto 1em auto;
  color: green;
}
.container .conteiner-section {
  box-sizing: border-box;
}
.container .conteiner-section .importancia {
  width: 85%;
  margin: 1em auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .conteiner-section .importancia .img-importancia {
  width: 30%;
  height: 30%;
}
.container .conteiner-section .importancia .h3-importancia {
  color: #ddecec;
  margin-bottom: 1em;
}
.container .conteiner-section .importancia .p-importancia {
  color: #ddecec;
  text-align: center;
}
.container .conteiner-section .quienes-somos {
  width: 85%;
  margin: 2em auto;
  background-color: #f4f4f3;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 2px #509763;
}
.container .conteiner-section .quienes-somos .h2-portada {
  color: #1e425c;
  background-color: #ddecec;
  text-align: center;
  padding: 1em 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.container .conteiner-section .quienes-somos .p-portada {
  color: #174d25;
  text-align: center;
  padding: 0em 1em 1em 1em;
}

* {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
