input {
  display: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}

#check:checked ~ nav ul {
  margin: 0;
  transition: 0.3s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 111;

  li a {
    color: black;
    font-size: 20px;
  }
  li a:hover {
    background-color: #b8d6ec;
    color: White;
    box-shadow: 4px 5px 2px -3px gray;
  }
}
#check:checked ~ nav {
  transition: all 0.5s ease-in-out;
  background-color: #fabdc5;
  label i {
    color: #b8d6ec;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 0;
  z-index: 11;
  background-color: #f4f4f4;
  left: 0;
  right: 0;
  top: 0;

  // ocultar menu
  // #check:checked ~ ul {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   z-index: 1;
  //   overflow: hidden;
  //   a {
  //     color: $DarkBlue-intro;
  //   }
  // }
  .logo {
    width: 120px;
    height: 80px;
    margin-left: 1em;
  }
  label {
    i {
      margin-right: 2em;
      color: #fabdc5;
    }
  }
  .enlace-menu {
    text-decoration: none;
    transition: background-color 0.4s;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin-left: -1700px;
    width: 100%;
    background-color: #fabdc5;
    li {
      list-style: none;
      padding: 1em;
      margin: 2em;
      a {
        text-decoration: none;
        border-radius: 10px;
        padding: 1em;
        margin: 2em;
        border-radius: 10px;
      }
    }
  }
}

//portada inicio

.container {
  position: relative;
  width: 100%;
  top: 100px;
  .inicio {
    margin: 0 auto;
    width: 85%;
    position: relative;
    display: flex;
    justify-content: center;
    .h1-portada {
      width: 90%;
      position: absolute;
      bottom: 30px;
      color: white;
      text-align: center;
      box-shadow: 0.5px 0.5px 4px 1px tomato;
      border-radius: 9px;
      padding: 0.5em 0;
    }
  }

  //quienes somos
  .quienes-somos {
    width: 85%;
    margin: 2em auto;
    background-color: #f4f4f3;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 2px #cfe1ee;
    .h2-portada {
      color: #e4c8c8;
      text-align: center;
      padding: 1em 0;
    }
    .p-portada {
      color: #b8d6ec;
      text-align: center;
      padding: 0em 1em 1em 1em;
    }
  }
}
